{% extends 'base.html' %}
{% block title %}注册页{% endblock %}

{% block content %}
    <h1>注册页</h1>
    <div class="container">
        <form action="/register/">
            <div class="form-group">
                <lable>用户名：</lable>
                <input type="text" name="username" placeholder="用户名1-20个字，中英文或-" required="required" class="form-control">
            </div>

            <div class="form-group">
                <lable>密码：</lable>
                <input type="password" name="password" placeholder="请输入密码 20字以下" required="required" class="form-control">
            </div>
            <div class="form-group">
                <lable>邮箱：</lable>
                <input type="email" name="email" placeholder="请输入邮箱" required="required" class="form-control">
            </div>
            <input type="submit" value="确认注册" class="form-control btn-default">
        </form>
    </div>

{% endblock %}